


body {

    /* font-family: 'Open Sans', sans-serif;
    font-weight: 400; */
    /* font-family: 'Raleway', Arial, Helvetica, sans-serif; */
    /* font: 14px 'Raleway', Arial, Helvetica, sans-serif; */
    font: 14px 'Raleway', Arial, Helvetica, sans-serif;
    color: #959595;
    line-height: 1.42857143;

}

* {-webkit-font-smoothing: antialiased;}

/* .navbar {
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-height: 35px !important;
    line-height: 35px !important;
    
    z-index: 1030 !important;
    color: #333 !important;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1)!important;
} */

.set-head1 {
    background: #f1f1f1;
    border-top: 3px solid #437d19;
    padding-top: 13px;
    padding-bottom: 13px;
}

.navbar {
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-height: 35px !important;
    line-height: 35px !important;
    /* background: #fff !important; */
    z-index: 1030 !important;
    color: #333 !important;
    background: #fff;
}

.navbar2 {
    /* position: fixed !important; */
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-height: 35px !important;
    line-height: 35px !important;
    /* background: #fff !important; */
    z-index: 1030 !important;
    color: #333 !important;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1)!important;
}

select .form-control{
    border-radius: 0px !important;
}


.set-title {
    position: absolute;
    top: 1.7rem;
    left: 11.7rem;
    color: #333;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

a {
    color: #fff;
    text-decoration: none;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* SETTING FONT WARNA */
.abu {
    color: #8b8b8b;
}

.abu22 {
    color: #8d8d8d;
}

.abu3 {
    color: #333;
}

.abu33 {
    color: #777575;
}

.black {
    color: #111111;
}

.ijo {
    color: #64c7c6 !important;
}

.merah {
    color: #ff1710;
}

.pdl-5 {
    padding-left: 0px;
}

.pdt-20 {
    padding: 20px 0px !important;
}

.pd-0 {
    padding: 0px !important;
}

.pd-05 {
    padding: 0px 5px;
}

.pd-7-0 {
    padding: 7px 0px 0px 0px;
}

.pd-5 {
    padding: 5px;
}

.pd-5x {
    padding: 5px 0px
}

.pd-10 {
    padding: 10px;
}

.pd-10x {
    padding: 10px 0px
}

.pd-20 {
    padding: 20px !important;
}

.pd-20x {
    padding: 20px 10px;
}

.pd-50 {
    padding: 50px;
}

.no-padding {
    padding: 0px !important;
}

.bold {
    font-weight: bold !important;
}

.margin-0 {
    margin-bottom: 0px;
}

.m-l-20 {
    margin-right: 20px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}


.m-r-20 {
    margin-right: 20px;
}

.m-t-18 {
    margin-top: 18px;
}

.m-t-22 {
    margin-top: 22px;
}

.m-t-25 {
    margin-top: 25px;
}


.m-t-30 {
    margin-top: 30px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.font-italy {
    font-style: italic
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-70 {
    margin-bottom: 70px;
}

.cursor {
    cursor: pointer;
}

.bg-atas {
    background:transparent;
    transition: 0.5s;
    /* color: #fff !important; */
    color: #333 !important;
    border-bottom: 2px solid #fff;
}

.bg-atas:hover {
    border-bottom: 2px solid #203c0e;
    /* background: #203c0e; */
    /* color: #fff !important; */
    /* border-radius: 4px; */
    text-decoration: none;
}

.actived {
    background: #f1f1f1;
    transition: 0.7s;
}

.actived:hover {
    background: #64c7c6;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #64c7c6;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1)!important;
}

.w-100 {
    width: 100%;
}

/* SETTING BARIS */

.kiri {
    text-align: left;
}

.tengah {
    text-align: center;
}

a {
    text-decoration: none !important;
}

.kanan {
    text-align: right;
}

.justify {
    text-align: justify
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

/* HEADER BANNER */

.text-nav {
    bottom: 28%;
    left: 15%
}

.text-nav2 {
    bottom: 55%;
    left: 15%
}

.text-nav-login {
    bottom: 40%;
    left: 15%
}

/* .carousel-caption {
    right: 0% !important;
} */


.putih {
    color: #fff !important;
}

.ijo-f {
    color: #163205
}

.ijo-f2 {
    color: #437d19;
}

.item {
    color: #4e5155 !important;
}

.item2 {
    color: #484646;
}

.gold {
    color: #e4d600;
}

.gold2 {
    color:#f8c433;
}

.grey1 {
    color: #a7a7a7;
}

select.form-control {
    border-radius: 0px !important;
}

/* SETTING FONT */

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-32 {
    font-size: 32px
}

.font-36 {
    font-size: 36px;
}

.font-46 {
    font-size: 46px;
}


/* BUTTON */

.btn-cari {
    border-radius: 4px;
    background: #203c0e;
    color: #fff;
    border: 1px solid #2b6307;
    padding: 2px 15px;
    position: absolute;
    bottom: 27%;
}

.btn-search {
    background: #43bdab;
    color: #fff;
    border: 1px solid #43bdab;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    font-weight: bold;
    /* font-weight: bold; */
}

.btn-join {
    color: #fff;
    padding: 0px 13px;
    background: #64c7c6;
    border: 1px solid #64c7c6;
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    /* font-weight: bold; */
}

.btn-login {
    color: #fff;
    padding: 0px 13px;
    background: #203c0e;
    border: 1px solid #203c0e;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    /* font-weight: 700; */
}

.btn-login:hover {
    color: #fff;
    padding: 0px 13px;
    background: #387114;
    border: 1px solid #387114;
    /* background: #008081;
    border: 1px solid #008081; */
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.next {
    background: #fff;
    transition: 2s;
}

.next:hover {
    transform: scale(1.01);
}



.btn-edit {
    color: #fff;
    padding: 0px 5px;
    background: #203c0e;
    border: 1px solid #203c0e;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px; 
}

.btn-fb {
    color: #fff;
    padding: 0px 13px;
    background: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.btn-google {
    color: #fff;
    padding: 0px 13px;
    background: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    
}

.btn-pesan {
    color: #fff;
    padding: 0px 13px;
    background: #203c0e;
    border: 1px solid #203c0e;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.btn-pesan1 {
    color: #fff !important;
    padding: 7px 13px;
    background: #203c0e;
    border: 1px solid #203c0e;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.btn-share {
    color: #fff;
    padding: 0px 13px;
    background: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.btn-share:hover {
    color: #fff;
    padding: 0px 13px;
    background: #12798a;
    border: 1px solid #12798a;
    /* background: #008081;
    border: 1px solid #008081; */
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.btn-login1 {
    color: #fff;
    padding: 5px 13px;
    background: #64c7c6;
    border: 1px solid #64c7c6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn-kom {
    background: #09c;
    color: #fff;
    border: 1px solid #09c;
    padding: 7px 14px;
    font-size: 22px;
    border-radius: 5px;
}

.btn-kom:hover {
    background: #087ba1;
    color: #fff;
    border: 1px solid #087ba1;
    padding: 7px 14px;
    font-size: 22px;
    border-radius: 5px;
}

.btn-member {
    background: #64c7c6;
    color: #fff;
    border: 1px solid #64c7c6;
    padding: 7px 14px;
    font-size: 22px;
    border-radius: 5px;
}

.btn-member:hover {
    background: #45b0af;
    color: #fff;
    border: 1px solid #45b0af;
    padding: 7px 14px;
    font-size: 22px;
    border-radius: 5px;
}

/* SETTING MARGIN */
.set-pd {
    padding-right: 0px;
    padding-left: 0px;
}

.set-pd-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.set-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.set-margin2 {
    margin-right: -30px;
    margin-left: -30px;
}

.set-margin-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.l-h-5 {
    line-height: 5px;
}

/* SETTING BACKGROUND */
.bg-trans {
    background: rgba(255,255,255,0.2);
}

.bg-putih {
    background: #fff;
}

.bg-event {
    background: #f7f7f7;
}

.bg-abu {
    background: #f1f1f1;
}

.bg-abu2 {
    background: #dcdcdc;
}

.bg-abu3 {
    background: #f7f7f7;
}

.bg-ab {
    background: #ababab
}

.bg-footer {
    background: #e4e4e4;
}

.bg-footer2 {
    background: #464646;
    color: #fff
}

.bg-footer3 {
    background: #585858;
}

.bg-komunitas {
    background: url("../image/dis.png");
    /* height: 40vh; */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-komunitas1 {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
} 

.bg-event1 {
    background: url("../image/hijab.jpeg");
    /* height: 75vh; */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-event2 {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
} 


/* SETTTING BORDER */

.no-border {
    border: 0px !important;
}

.b-bottom-green {
    border-bottom: 2px solid #64c7c6;
    
}


.b-bottom-abu {
    border-bottom: 1px solid #dedede;
}

/* SETTING RADIUS  */

.radius-5 {
    border-radius: 5px;
}

.radius-30 {
    border-radius: 30px;
}

.radius-31 {
    border-radius: 0px 3px 3px 0px !important;
}

.radius-50 {
    border-radius: 50%;
}

/* SETTING CARD */
.card-acara {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    transition: 0.5s;
    padding: 10px;
   
    
}

.card-acara:hover {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    color: #fff;
    word-wrap: break-word;
    background-color: #64c7c6;
    background-clip: border-box;
    border-radius: .25rem;
    transition: 0.5s;
}

.card {
    /* border: 0px !important; */
    transition: 0.5s;
    padding: 10px;
}

.card-body {
    padding: 10px 0px;
}

.card-cari {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header1 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.set-form {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.set-form:focus {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.set-shadow {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1)!important;
}

.set-shadow:hover {
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2)!important;
}

.set-shadow2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.set-shadow2:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
}

.set-shadow3 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.set-shadow3:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    padding: 0px;
}

.set-shadow4 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}

.set-shadow4:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
}

.set-shadow5 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.border-1 {
    border: 1px solid #ddd !important;
}

ul > li {
    display: inline;
}

ul {
    margin-bottom: 0px !important;
}

.set-event {
    padding: 2px 8px;
    background: #64c7c6;
    color: #fff;
    border-radius: 4px;
    margin-top: 2px;
    position: absolute;
}


.carousel-control-prev {
    left: 7rem !important;
}
.carousel-control-next {
    right: 7rem !important;
}

.justify {
    text-align: justify;
}

.set-header {
    height: 50vh;
}

.set-header1 {
    /* background-image: url("../image/bahan/forest.jpg"); */
    /* height: 70vh; */
}

.set-login {
    /* background-image: url("../image/bahan/forest.jpg"); */
    height: 110vh;
}

.no-radius {
    border-radius: 0px !important;
}

.bg-fb {
    background: #2a5da6;
}

.bg-tw {
    background: #2ca8d2;
}

.bg-ig {
    background: #C13584;
}

.bg-default {
    background: #203c0e;
}

.bg-ijo {
    background: #64c7c6;
}

.bg-ijo2 {
    /* background: #203c0e; */
    background: #efeeee;
}

.bg-email {
    background: #FD1D1D;
}

.btn-default {
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
}

.btn-umroh {
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border: 0px;
    transition: 0.7s;
    border-bottom: 2px solid #437d19;
}

.btn-umroh:hover {
    padding: 10px 20px;
    background: #f1f1f1;
    border: 0px;
    border-bottom: 2px solid #437d19;
}

.btn-daftar {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background: #64c7c6;
}

.nav-pills .nav-link.active {
    /* color: #000;
    background-color: transparent;
    border-bottom: 2px solid #09c; */

    color: #000;
    background-color: #dedede;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

.set-count {
    border-radius: 10px;
    background: #fff;
    margin-top: -123px;
    position: relative;
    padding: 16px 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 7px 2px;
}

.f-tung {
    font-size: 52px;
    font-weight: bold;
}

.f-anggota {
    font-size: 18px;
    /* margin-left: 25px; */
    margin-top: -15px;
}

.head-title {
    padding: 3px 5px;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
    background: #54aaa9;
    top: 6%;
    position: absolute;
}

.title-ac {
    border-bottom: 1px solid #54aaa9;
    margin-bottom: 10px;
    font-size: 18px;
    color: #54aaa9;
	font-weight: 700;
}

.set-icon-footer {
    width: 40px; 
    margin-left: 10px;
}

.set-icon-footer1 {
    width: 32px; 
    margin-left: 10px;
}

.set-icon-footer2 {
    width: 42px; 
    margin-left: 10px;
}

.bt1 {
    border-top: 1px solid #dbdbdb;
}

.section-padding {
    padding:80px 0px
}

.section-padding2 {
    padding:50px 0px;
}

.margin-15 {
    margin: 0px 15px;
}


.icon-tw {
    background: #09c;
    padding: 6px 4px;
    border-radius: 14px;
    color: #fff;
}

.icon-fb {
    background: #4267b2;
    padding: 6px 8px;
    border-radius: 14px;
    color: #fff;
}

.icon-ig {
    background: #a50473;
    padding: 6px 5px;
    border-radius: 14px;
    color: #fff;
}



/* CSS TRAVEL */

.set-cari {
    border-radius: 0px 3px 3px 0px !important;
    padding: 5px 7px;
}

.set-plane {
    background: #ececec;
    padding: 3px 6px;
    border-radius: 3px;
}

.max-196 {
    min-height: 100px !important;
    max-height: 300px !important;
}


/* CSS DETAIL PAKET */

.set-hotel {
    background: #2f630e;
    padding: 2px 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
}

/* CSS DAFTAR */
.set-banner {
    /* width: 1160px;  */
    height: 
    180px; 
    margin: auto;
}

.set-daftar {
    position: absolute; z-index: 1; top: -130px;
}

.set-google {
    position: absolute; z-index: 1; top: 370px; width: 96%
}

.set-facebook {
    position: absolute; z-index: 1; top: 420px; width: 96%
}

.t-banner {
    font-size: 25px;
    margin-bottom: 15px;
    padding-top: 30px;
    max-width: 700px;
}

/* CSS LANDING PAGE LOGIN */

.set-akun {
    cursor: pointer;
    padding: 10px;
    
    transition: 1s;
}

.set-akun:hover{
    cursor: pointer;
    padding: 10px;
    background: #fff;
}


@media (min-width: 375px) { 
    .pd-50 {
        padding: 10px;
    }
}

